body {
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
}

.nav-bar .container {
    width: 1180px;
    margin: 0 auto;
    display: flex;
}

.container {
    width: 1180px;
    margin: 0 auto;
}

.logo {
    font-weight: 700;
    font-size: 25px;
    text-decoration: none;
}

.logo:visited {
    color: #000;
}

.menu__link:hover {
    text-decoration: underline;
}

.menu {
    display: flex;
    position: absolute;
    width: 714px;
    height: 29px;
    left: 575px;
    top: 43px;
}

.menu__link {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    letter-spacing: 1px;
}

.home {
    margin-right: 44px;
}

.about {
    margin-right: 39px;
}

.servicing {
    margin-right: 39px;
}

.portfolio {
    margin-right: 32px;
}

.blog {
    margin-right: 39px;
}

.contact-us {
    margin-right: 25px;
}

.menu__link:visited {
    color: #000;
}

ul {
    font-weight: 500;
}

ul:first-child {
    margin-left: 0;
}

ul:last-child {
    margin-right: 0;
}

header {
    background: url('/img/bg_1.png') center center/cover no-repeat;
    min-width: 100%;
}

.nav-bar {
    background: #FFF;
    display: flex;
    padding: 39px 0 49px 0;
}

.description .title, .description .subtitle {
    color: #FFF;
    text-align: center;
}

.btn__link:visited {
    color: #FFF;
}

.description .title {
    font-size: 60px;
    margin-top: 162px;
    margin-bottom: 17px;
    letter-spacing: 4px;
}

.description .subtitle {
    font-size: 22px;
    margin-bottom: 105px;
    letter-spacing: 1.1px;
}

.btn {
    border: 3px solid;
    border-color: #FFF;
    background: none;
    width: 220px;
    height: 70px;
}

.btn:last-child {
    margin-left: 25px;
    margin-right: 5px;
}

.btn__link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.btn:hover {
    background: #00897b;
    border-color: #00897b;
    transition: background 1s, border-color 1s;
}

.description__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 97px;
}

.description__icon {
    display: flex;
    justify-content: center;
    height: 5px;
    padding-bottom: 95px;
}

.fa-angle-down{
    color: #FFF;
}

.about-us .subtitle, .about-us .title {
    text-align: center;
}

.about-us .title {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1.5px;
}

.about-us .subtitle {
    font-size: 15px;
    margin-top: 23px;
    line-height: 22px;
    letter-spacing: 0.8px;
}

.about-us__card {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-us__card:first-child {
    margin-right: 160px;
    margin-left: 57px;
}

.about-us__card:last-child {
    margin-left: 160px;
}

.about-us__card .title {
    font-size: 20px;
    font-weight: 500;
    margin-top: 27px;
    margin-bottom: 15px;
}

.about-us__card .subtitle {
    font-size: 15px;
    margin: 0;
}

.card__img {
    margin: 0 auto;
}

.about-us__main {
    display: flex;
    
    margin-top: 121px;
}

.about-us {
    margin-top: 116px;
    margin-bottom: 125.5px;
    background: #FFF;
}

.our-services {
    background: #e4fdf9;
    padding-top: 164px;
    padding-bottom: 90px;
}

.our-services .title {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 23px;
    letter-spacing: 1.5px;
}

.our-services .subtitle {
    font-size: 15px;
    margin-bottom: 112px;
    letter-spacing: 0.75px;
}

.our-services .subtitle, .our-services .title {
    text-align: center;
}

.row__card .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 13px;
    letter-spacing: 1.5px;
}

.row__card .info {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.75px;
}

.card__btn {
    font-family: 'Open Sans', sans-serif;
    background: none;
    border: 2px solid #000;
    width: 150px;
    height: 55px;
    padding: 0;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    margin: 44px auto 50px auto;
}

.row__card:hover{
    background: #00897b;
    color: #FFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.35);
    transition: color 0.6s, background 1s;
}

.row__card:hover .card__btn {
    border: 2px solid #FFF;
    color: #FFF;
    transition: color 0.6s, border 0.6s;
}

.row__card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #FFF;
    min-width: 370px;
    margin-bottom: 31px;
}

.our-services__row {
    display: flex;
    justify-content: space-between;
}

.row__card .card__img {
    display: none;
    margin: 58px auto 27px auto;
}

.card__img2 {
    margin: 58px auto 27px auto;
}

.row__card:hover .card__img2 {
    display: none;
    transition: display 1s;
}

.row__card:hover .card__img {
    display: block;
    transition: display 2s;
}

.latest-works .title, .latest-works .subtitle {
    text-align: center;
}

.latest-works .title {
    font-weight: 700;
    font-size: 30px;
    line-height: 22px;
    letter-spacing: 1.5px;
    margin-top: 126px;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.latest-works .subtitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.75px;
}

.latest-works__btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1px;
    color: #000;
    border: 2px solid #00897B;
    text-transform: uppercase;
    background: none;
    padding: 0;
    margin-right: 15px;
}

.latest-works__btn:first-child {
    margin-right: 20px;
}

.latest-works__btn:last-child {
    margin-right: 0;
}


.all {
    width: 100px;
    height: 55px;
}

.ui {
    width: 179px;
    height: 55px;
}

.all:hover, .ui:hover {
    background: #00897B;
    color: #FFF;
    transition: background 0.6s, color 0.6s;
}

.latest-works__buttons {
    display: flex;
    justify-content: center;
    margin-top: 112px;
    letter-spacing: 1px;
}

.gallery-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.gallery__card {
    width: 370px;
    height: 370px;
    color: #FFF;
    text-align: center;
    padding-top: 145px;
    
}

.gallery-row:last-child {
    margin: 0;
}

.watch {
    background: url('/img/hand-watch.png') center center/cover no-repeat;
}

.pass {
    background: url('/img/one-day-pass.png') center center/cover no-repeat;
}

.t-shirt {
    background: url('/img/packeti.png') center center/cover no-repeat;
}

.flyaga {
    background: url('/img/flyaga.png') center center/cover no-repeat;
}

.bottle {
    background: url('/img/wine.png') center center/cover no-repeat;
}

.bag {
    background: url('/img/bag.png') center center/cover no-repeat;
}

.watch .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1px;
    margin: 0 0 3px 0;
    text-transform: capitalize;
}

.watch .subtitle {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.75px;
}

.latest-works__gallery {
    margin-top: 119px;
    margin-bottom: 125px;
}

.gallery-btn  .button{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    width: 220px;
    height: 70px;
    color: #000;
    border: 2px solid #00897b;
    background: none;
    text-transform: uppercase;
    padding: 0;
    letter-spacing: 1.1px;
}

.gallery-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 136px;
}

.gallery-btn  .button:hover {
    background: #00897b;
    color: #FFF;
    transition: color 0.6s, background 0.6s;
}

.pricing-plan {
    background: #f0f1f1;
}

.pricing-plan .title {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    padding-top: 118px;
    margin-bottom: 23px;
    letter-spacing: 1.5px;
}

.pricing-plan .subtitle {
    font-size: 15px;
    margin-bottom: 126px;
    letter-spacing: 0.75px;
}

.pricing-plan .subtitle, .pricing-plan .title {
    text-align: center;
}

.pricing-row {
    display: flex;
    background: #f0f1f1;
    justify-content: space-between;
    padding-bottom: 125px;
}

.pricing-row__card {
    width: 370px;
    height: 667px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #FFF;
}

hr {
    width: 178px;
    margin-top: 6.5px;
    margin-bottom: 37px;
}

.name {
    font-family: 'SansSerif';
    font-weight: 400;
    font-size: 25px;
    line-height: 22px;
    letter-spacing: 1.25px;
    text-transform: capitalize;
    margin: 48px 0 39px 0;
    z-index: 1;
    color: #FFF;
}

.price {
    font-size: 50px;
    line-height: 22px;
    letter-spacing: 2.5px;
    margin-bottom: 115px;
    z-index: 1;
    color: #FFF;
}

.price span {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.85px;
}

.card__description {
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.85px;
    text-transform: capitalize;
}

.price__btn {
    width: 180px;
    height: 60px;
    border: 2px solid #000000;
    background: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #000;
    text-transform: uppercase;
    margin-top: 29px;
    padding: 0;
}

#rectangle {
    width: 370px;
    height: 178px;
    position: absolute;
    top: 4827px;
    z-index: 0;
    background: #3949ab;
}

#triangle-topleft {
    width: 0;
    height: 0;
    border-top: 31px solid #3949ab;
    border-right: 370px solid transparent;
    position: absolute;
    top: 5004px;
    z-index: 0;
}

.pricing-row__card:hover {
    box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.35);
    transition: box-shadow 0.5s;
}

.price__btn:hover {
    color: #FFF;
    border: 2px solid #00897b;
    background: #00897b;
    transition: color 0.6s, border 0.6s, background 0.6s;
}

.team__card img {
    border-radius: 10px;
}

.team__icons {
    display: flex;
}

i {
    color: #00897b;
}

.link__ico {
    border: 2px solid #f0f1f1;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team__row {
    display: flex;
    justify-content: space-between;
}

.team .title {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    padding-top: 118px;
    margin-bottom: 36px;
    letter-spacing: 1.5px;
}

.team .subtitle {
    font-size: 15px;
    margin-bottom: 124px;
    letter-spacing: 0.75px;
}

.team .subtitle, .team .title {
    text-align: center;
}

.team__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-top: 38px;
    margin-bottom: 6.5px;
}

.team__post {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.75px;
    text-transform: capitalize;
    margin-bottom: 26.5px;
}

.team__card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.team__icons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 126px;
}

.team__icons-link {
    text-decoration: none;
}

.link__ico:hover {
    background: #3949ab;
    transition: background 0.6s;
}

.link__ico:hover > .fa-xl {
    color: #FFF;
    transition: color 0.6s;
}

.circle {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background: #00897b;
    margin-right: 10px;
    cursor: pointer;
}

.circle:last-child {
    margin-right: 0;
}

.team__circles {
    display: flex;
    justify-content: center;
}

.circle:hover {
    background: #3949ab;
}

.team {
    padding-bottom: 124px;
}

.blog__row {
    display: flex;
}

.row__date-category {
    display: flex;
    margin-bottom: 32px;
}

.blogg {
    background: #e4fdf9;
}

.blogg .title {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    padding-top: 133px;
    margin-bottom: 29px;
    letter-spacing: 1.5px;
}

.blogg .subtitle {
    font-size: 15px;
    margin-bottom: 125px;
    letter-spacing: 0.75px;
}

.blogg .subtitle, .blogg .title {
    text-align: center;
}

.row__right {
    margin-left: 30px;
}

.row__title {
    font-weight: 500;
    font-size: 25px;
    line-height: 22px;
    letter-spacing: 1.25px;
    text-transform: capitalize;
    margin-top: 60px;
    margin-bottom: 28px;
}

.date, .category {
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.85px;
}

.fa-calendar-days, .fa-file {
    margin-top: 10px;
    margin-right: 13px;
    color: #000;
}

.row__info {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.75px;
}

.row__title a {
    text-decoration: none;
    color: #000;
}

.date {
    margin-right: 40px;
}

.second-row {
    margin-right: 165px;
    width: 50%;
}

.row__title a:hover {
    color: #00897b;
    transition: color 0.6s;
}

.blogg__btn {
    width: 220px;
    height: 70px;
    border: 2px solid #000000;
    background: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #000;
    text-transform: uppercase;
    padding: 0;
}

.blogg__btn:hover {
    color: #FFF;
    border: 2px solid #00897b;
    background: #00897b;
    transition: color 0.6s, border 0.6s, background 0.6s;
}

.blog__button {
    margin-top: 123px;
    padding-bottom: 125px;
    display: flex;
    justify-content: center;
}

.fa-magnifying-glass {
    color: #000;
}

.contact_us {
    background: url('../img/contact-us__bg.png') center center/cover no-repeat;
}

.contact_us .title {
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    padding-top: 128px;
    margin-bottom: 36px;
    letter-spacing: 1.5px;
}

.contact_us .subtitle {
    font-size: 15px;
    margin-bottom: 101px;
    letter-spacing: 0.75px;
}

.contact_us .subtitle, .contact_us .title {
    text-align: center;
    color: #FFF;
}

.col__ico {
    height: 105px;
    width: 105px;
    border-radius: 100%;
    background: #3949ab;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 39px auto;
}

.col__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
    color: #FFF;
    text-align: center;
}

.contacts {
    display: flex;
    justify-content: space-between;
}

.col:last-child {
    margin-right: 90px;
}

.col:first-child {
    margin-left: 100px;
}

.contacts__form {
    display: flex;
    flex-direction: column;
    margin-top: 79px;
    margin-left: 70px;
    padding-bottom: 112px;
}

.form__name, .form__email {
    width: 500px;
    height: 84px;
    border-radius: 10px;
    border: 20px solid #FFF;
}

.form__name {
    margin-right: 31px;
}

input::placeholder, textarea::placeholder {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
    color: #4d4d4d;
}

.form__name:focus, .form__email:focus, #form__message:focus {
    border: 3px solid #00897b;
    padding: 19px;
}

.form__name-email {
    margin-bottom: 33px;
}

#form__message {
    width: 1031px;
    height: 323px;
    border-radius: 10px;
    border: 20px solid #FFF;
    margin-bottom: 39px;
    resize: none;
    font-size: 25px;
    outline: none;
}

.form__button {
    width: 220px;
    height: 70px;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 0;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    border: none;
    text-align: center;
    margin-left: 810px;
    padding: 27.5px 68.5px;
    color: #000;
}

input {
    font-size: 25px;
    outline: none;
}

.form__button:hover {
    color: #FFF;
    background: #00897b;
    transition: color 0.6s, background 0.6s;
}

footer {
    text-align: center;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 1px;
    padding: 19px 0 22px 0;
}